html{
    
    font-family:bahnschrift light ;
    
    border:100px black solid;
    border-top:30px black solid;
}
head{
    text-align:center;
}
h1{
    background-color: rgba(255, 116, 52, 0.822);
    color:rgb(109, 63, 236);
    text-align:center;
    font-size:5em;
    text-shadow: 1px 1px white, -1px -1px #444;
    padding: 20px;
    margin:10px;
    border:20px;
}

body {
    background-color:rgb(106, 235, 106 );
    text-align:left;
 
    padding: 10mm;
    margin: 10mm;
}


h2 {
    text-align:center;
    
    color: rgb(47, 106, 218);
 
}
h3{
    color:rgb(82, 53, 248);
    text-align:center;
}

p1{
    font-size:10mm;
}
fieldset{
    background-color:rgb(211, 71, 83);
    font-style:italic;
    font-weight:bold;
    border:10px black solid;
    text-align:center;

}
p6{
    
    padding-left:15px;
    padding-right:15px;
    background-color:blue;
    color:rgb(228, 220, 220);
    font-size:1.7em;
    text-align:left;
    
}
.name{
    position:relative;
    left:30px;
}
#address{
    position:relative;
    left:25px;
}
#Age{
    position:relative;
    left:10px;
}
.button{
    font-size:10mm;
}
img {
    height: 250px;
}
